@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  
}

main {
  padding: 10px;
  background-color: white;
  border-radius: 3.5px;
}

.quoteText {
  margin: 0;
  padding: 10px 30px;
  font-size: 25px;
  line-height: 1.2em;
  text-align: center;
}

.quoteAuthor {
  font-size: 17px;
  float: right;
  margin: 0;
  padding: 10px 30px;
}

.button-container {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  margin: 45px auto 5px auto;
}

.button {
  border: none;
  border-radius: 5px;
  font: inherit;
  font-weight: 500;
}

.button:focus {
  outline: 0;
}

.button:active {
  box-shadow: inset 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
}

.button-social {
  margin: 15px 5px;
  padding: 7.5px 8px;
}

.button-quote {
  margin-left: auto;
  padding: 13px 13px;
}

.fa-quote-left {
  padding-right: 0.5em;
}

footer {
  color: black;
  margin-top: 10%;
}



