@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 3.5px;
}

.quoteText {
  margin: 0;
  padding: 10px 30px;
  font-size: 2.5ch;
  line-height: 1.2em;
  text-align: center;
}

.quoteAuthor {
  font-size: 1.9ch;
  float: right;
  margin: 0;
  padding: 10px 30px;
  align-self: flex-end;
}

.button-container {
  display: flex;
  width: 90%;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 45px auto 5px auto;
  user-select: none;
}


.button {
  border: none;
  border-radius: 5px;
  font: inherit;
  font-weight: 500;
  user-select: none;
}

.button:focus {
  outline: 0;
}

.button:active {
  box-shadow: inset 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
}

.button-social {
  margin: 15px 5px;
  padding: 7.5px 8px;
}

.button-quote {
  padding: 13px 13px;
  width: 50%;
  margin-bottom: 10px;
}

.fa-quote-left {
  padding-right: 0.5em;
}

footer {
  color: black;
  visibility: hidden;
}

@media (min-width: 700px) {
  main {
    flex-grow: 0;
    max-width: 700px;
  }

  .button-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .button-quote {
    width: 150px;
  }
}

